{% extends 'base.html.twig' %}

{% block title %}liste de figures!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/SnowTriks/src/Controller/FurumController.php'|file_link(0) }}">src/Controller/FurumController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/SnowTriks/templates/furum/index.html.twig'|file_link(0) }}">templates/furum/index.html.twig</a></code></li>
    </ul>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Corporis, vitae. Quisquam qui consectetur voluptatibus 
         nulla eaque excepturi expedita eos, iste exercitationem, 
         perspiciatis similique optio, quae dolorem. Quia voluptatem
          pariatur assumenda officia ut. Esse est laudantium natus 
          tempora minima corrupti voluptate corporis at mollitia 
          exercitationem. Mollitia exercitationem incidunt adipisci 
          in vero.
    </p>
    <p>Esse, id asperiores. Ad asperiores eos illum placeat suscipit qui 
        minima ipsum fugit sapiente doloribus minus incidunt saepe unde 
        possimus quidem accusamus nobis labore maxime, explicabo cumque 
        obcaecati. Impedit debitis veritatis similique eum modi fugiat 
        consectetur dolores aperiam voluptatem voluptas corporis assumenda
         soluta at necessitatibus provident aliquam harum, asperiores perfedis.
    </p>
    </div> P>lorem
{% endblock %}
