{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}
{% block body %}
<div class="container text-center d-flex justify-item-center">
    <div class="row">
        <h1 class="col-xs-6 col-md-8">list of tricks</h1>
    </div>
    
</div>

{% endblock %}