<h3>You did it! You registered!</h3>

Hi {{ user.username }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="http://localhost:8000/confirmation/{{user.token}}">clic ici</a>.

Thanks!
