<footer class="bg-light py-5">
    <div class="container-fluid">
        <div class="small text-center text-muted">Copyright &copy; 2019 - allab samir, etudiant OCR, DA PHP/Symfony</div>
    </div>
</footer>
    