<ul class="list_ul" id="image-fields-list"
    data-prototype="{{ form_widget(formTrick.illustrations.vars.prototype)|e('html_attr') }}"
    data-widget-tags="{{ '<li></li>'|e }}">

{% for illustration in formTrick.illustrations %}
   <li style="list-style-type: none">
       <div {% if illustration.vars.data.id is not empty %} class="hidden">{% endif %}
        {{ form_errors(illustration) }}
        {{ form_widget(illustration) }}
        </div>
   </li>
{% endfor %}
</ul>
<div class="col-sm-7">
    <a href="#" class=" image_btn btn btn-info add-another-collection-widget"
       data-list="#image-fields-list">add an illustration
    </a><br>
</div>