{% extends 'base.html.twig' %}

{% block title %}edit illustration {% endblock %}
{% block body %}

<div class="row w-100 mh-100 d-flex justify-content-center align-items-center" style="height: 32rem;">
    <div class="col-sm-5">
        <div class="well">
            {{form_start(form)}}
            {{ form_row(form.url,{'attr':{'placeholder':'select an image...'}})}}
            {% if edit %}
            <button type="submit" class="btn btn-success col-6">Update the image</button>
            {% else %}
            <button type="submit" class="btn btn-success col-6">Add image to trick</button>
            {% endif %}        
            {{form_end(form)}}
        </div>
    </div>
</div>   
{% endblock %}
