{% extends 'base.html.twig' %}

{% block title %}edit video {% endblock %}
{% block body %}

<div class="row w-100 mh-100 d-flex justify-content-center align-items-center" style="height: 32rem;">
    <div class="col-sm-5">
        <div class="well">
            {{form_start(formVideo)}}
            {{ form_row(formVideo.url,{'attr':{'placeholder':'Paste the Integration code video...'}})}}
            {% if add %}
            <button type="submit" class="btn btn-success col-6">Add a video</button>
            {% else %}
            <button type="submit" class="btn btn-success col-6">Update the video</button>
            {% endif %}      
            {{form_end(formVideo)}}
        </div>
    </div>
</div>   
{% endblock %}
