{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}
{% block body %}
<section>
    
<p>#TODO : {{name}}</p>

{% for i in range(1, 10) %}
{{ i }}
{% endfor %}

    
</section>

{% endblock %}